<div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h4>Follow Us Here</h4>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6" icon>
          <i class="icon-facebook icon-2x"></i>
          <i class="icon-twitter icon-2x"></i>
          <i class="icon-google-plus icon-2x"></i>
          <i class="icon-pinterest icon-2x"></i>
          
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Built By <i class="icon-heart-empty"></i> Anoja </p>     
        </div>
      </div>
    </div>
  </footer>
